// background for darkt designs, text color for inverted
@tipsease-light-shades: #EEF1E3;

// near white
@tipsease-white: lighten(@tipsease-light-shades, 8%);

// used to bring attention by contrasting with rest of palette
@tipsease-light-accent: #86A38C;

// eye-catching but not harsh, can be liberally applied
@tipsease-main-brand: #67AB4C;

// another possible accent, might not use both
@tipsease-dark-accent: #737669;

// used as text color for dark-on-light, or background for inverted
@tipsease-dark-shades: #282B2D;

// accents
@tipsease-accent-1: #E89980;
@tipsease-accent-2: #7FCDB8;
@tipsease-accent-3: #90B0BA;
@tipsease-accent-4: #E5CB95;
@tipsease-font-family: 'Source Sans Pro', sans-serif;

// desktop breakpoint
@desktop: ~'(min-width: 1000px)';
@tablet: ~'(min-width: 800px)';